<h1>Log In Below:</h1>
<form action="/sessions" method="post">
    <label for="email">Email:</label><br>
    <input type="string" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password"><br>
    <input type="submit" id='login' value="Log In">
</form>
