<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
    <label for="name">Username:</label><br>
    <input type="string" name="name"><br>
    <label for="email">Email:</label><br>
    <input type="string" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password"><br>
    <input type="submit" id='Sign Up' value="Sign Up">
</form>